@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
  }

  main {
    justify-content: center;
    justify-items: center;
  }
  
  h1 {
    color: white;
    font-size: 35px;
    line-height: 35px;
    margin-top: 130px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  p {
    color: white;
    font-size: 21px;
    line-height: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    text-align: center;

  }

  button {
    height: 90px;
    width:327px;;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 21px;
    border-width: 0px;
    box-shadow: 0px 5px  rgb(253, 174, 174);

    font-size: 16px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 20px;

    
  }
  form {
    width:327px;
    height:448px;
    background-color: white;
    border-radius: 8px;
    padding-left: 25px;
    padding-top: 5px;
    margin-left: 21px;
  }

  #submit {
    font-size:12px;
    height: 58px;
    width: 90%;
    background-color: hsl(154, 59%, 51%);
    border-radius: 10px;
    color: white;
    margin-top: 15px;
    border-width: 0px;
  }
  
  #ffile {
    height: 58px;
    width: 90%;
    border-radius: 10px;
    border-width: 1px;
    padding-left: 15px;

    font-size: 16px;
  }
  
  h5{
      color:rgb(161, 161, 161);
     
      text-align: center;
      margin-top: 10px;
      font-size: 13px;
      text-align: center;
      max-width:85%;
      padding-left:10px;
  }